@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

:root {
    --text-color: #0001fd;
    --background-color: #ffe9e1;
    --background-highlight-color: white;
    --warning-color: yellow;
}

body {
    color: var(--text-color);
    font-family: 'Roboto Condensed';
    background-color: var(--background-color);
    margin: 0;
    font-weight: 700;
}

body.noscroll {
    overflow: hidden;
}

del {
    display: none;
}

svg {
    fill: currentColor;
    stroke: currentColor;
    vertical-align: baseline;
}

main svg {
    height: 0.8em;
    width: 0.8em;
    display: inline-block;
    text-transform: none;

}

main {
    opacity: 0;
    transition: all 1s linear;
}

main.appear {
    opacity: 1;
}

main svg + svg {
    margin-left: -0.3em;
}

main svg.icon-store, main svg.icon-lab {
    height: 120px;
    width: 200px;
    stroke-width: 0;
}


main h1 {
    font-size: 34px;
    line-height: 32px;
    letter-spacing: -1px;
}

main h2 {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -1px;
    margin-top: 40px;
    margin-bottom: 5px;
}

main .highlight {
    background-color: var(--background-highlight-color);
}

main .participants a:any-link {
    border: 0;
}

main>div:first-of-type.image {
    padding-top: 80px;
}

main .storemenu h2 {
    border: currentColor 2px solid;
    padding: 7px 20px;
    display: inline-block;
}

main h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 35px;
    margin-bottom: 5px;
}

main h4 {
    font-size: 16px;
    line-height: 16px;
}

main p, main ol, main ul {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}


main p {
    margin: 15px 0;
}


main div.default {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 600px;
    padding: 30px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

main>div:first-of-type {
    margin-top: 0px;
}

main .menu>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

main .menu>div>div {
    max-width: 400px;
    margin: 0;
}

main .menu.desktop {
    display: none;
}

main .menu .locations {
    border: 1px solid black;
}

main .menu .locations-menus {
    overflow-x: hidden;
    justify-content: flex-start;
}

main .menu .locations-menus>div {
    min-width: 335px;
    padding-right: 20px;
    padding-top: 50px;
    display: inline-block;
    white-space: normal;
}

main .menu .store>div {
    border: currentColor 2px solid;
    margin-bottom: 50px;
    box-sizing: border-box;
    position: relative;
    padding: 30px;
} 

main .menu .store .soft-serve-flavors {
    margin-top: 100px;
    border: 0;
    padding-top: 50px;
}

main .menu .store .soft-serve-flavors h4 {
    margin: 2px;
}

main .menu h2 {
    text-transform: lowercase;
    margin-bottom: 50px;
}

main .menu h4 {
    margin: 20px 2px 2px 2px;
}

main .menu h4+h4 {
    margin: 2px 2px 2px 2px;
}

main .menu p {
    margin: 2px;
}


main .menu .lab div>div {
    border: 2px solid currentColor;
    margin: 0 10px 10px 0;
    text-align: left;
}

main .menu .lab div.flavors>div {
    width: 45%;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    flex: 1 0 auto;
    height: auto;
}

main .menu .lab div.flavors h4 {
    /* font-size:40px;
    line-height: 40px;
    */
}

main .menu .lab div.specials h4 {
    /*
    font-size:30px;
    line-height: 30px;
    */
}

main .menu .lab div.flavors p {
    /* font-size: 18px; 
    text-transform: uppercase;
    */
}

main .menu .lab div.flavors>div:before {
    content:'';
    float:left;
    padding-top:100%;
}

main .menu .lab div.flavors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .menu .lab div.specials>div {
    padding: 20px;
}

main .menu .lab h3 {
    display: none;
}


main .menu .store>div h3 {
    border: currentColor 2px solid;
    background-color: white;
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    top: -40px;
    padding: 15px;
    /* font-size: 14px; */
    text-transform: uppercase;
    white-space: nowrap;
}

main .form .form-wrapper {
    max-width: 500px;
    margin: auto;
}

main .fine ul {
    font-size: 12px;
}

main>div {
    padding: 20px;
    text-align: center;
}

main a.noborder {
    border-width: 0;   
}

main div.purge-section a:any-link {
    margin: 10px;
    display: block;
    overflow: hidden;
}

main div.purge-section>p>a.working {
    background-color: var(--background-highlight-color);
}

main div.purge-section>p>a.done {
    color: var(--background-highlight-color);
    background-color: var(--text-color);
}


main div.purge-section button {
    padding: 10px 30px;
}


main a.labcone {
    display: inline-block;
    animation: heartbeat 2.5s ease-in-out 1s infinite both;
    color: var(--background-highlight-color);
    background-color: var(--text-color);
    padding: 10px 20px;
    border-radius: 30px;
    border-width: 0;
    cursor: pointer;
    user-select: none;
}

main #labconepreview {
    display: flex;
    height: 200px;
    width: 150px;
    transition: all 2s;
    margin: auto;
    animation: heartbeat 2.5s ease-in-out infinite both;
}

main #labconepreview div {
    display: flex;
    flex: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}


header>div:first-of-type {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header ul>li {
    list-style: none;
    padding: 10px;
    transition: all 1s;
    font-size: 1.2em;
    white-space: nowrap;
}

header .icon-arrow {
    height: 0.8em;
    width: 0.8em;
    margin: 0;
    transform: rotate(180deg);
    visibility: hidden;
}

header ul>li.selected svg {
    display: none;
}

header svg {
    margin: 0 20px;
}

header svg.icon-normal {
    height: 45px;
    width: 45px;
}

header svg.icon-hamburger {
    height: 24px;
    width: 17px;
}

header svg.icon-close {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
}

header div:nth-of-type(2) {
    position: absolute;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: all 0.2s ease-out;
    opacity: 0;
    right: 0px;
    overflow: hidden;
    z-index: 5;
}

header div:nth-of-type(2).menu-open {
    width: 300px;
    opacity: 1;
}

header div:nth-of-type(2).menu-open.clicked {
    width: 100vw;
    background-color: var(--background-color);
}


a:any-link {
    text-decoration: none;
    color: currentColor;
}

button, a.add-to-cart {
    background-color: var(--text-color);
    color: var(--background-highlight-color);
    border-radius: 1em;
    border: none;
    display: inline-block;
    padding: 2px 15px;
    margin-left: 20px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
}

main button.add-to-cart, main a.add-to-cart {
    font-size: 0.7em;
    vertical-align: top;
    box-sizing: border-box; 
}

main a {
    padding: 5px 20px;
    border: solid 2px currentColor;
    border-radius: 20px;
}

main ol, main ul {
    text-align: left;
}

main li {
    margin: 5px;
}

footer ul {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 20px;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
}

footer ul li {
    padding-right: 20px;
}

footer svg.icon-instagram {
    height: 20px;
    width: 20px;
}

footer svg {
    height: 0.8em;
    width: 0.8em;
}

main svg.icon-normal {
    height: 70px;
    width: 70px;
    animation: pong 2s linear infinite alternate both;
    padding: 20px;
    color: var(--smiley-color);
}

main div.image {
    z-index: 1;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

main div.default {
    z-index: 0;
    position: relative;
}

main div.image img {
    width: 150px;
    height: 300px;
    margin-top: -100px;
    position: absolute;
    object-fit: cover;
    box-sizing: border-box;
}

main div.image.left img {
    left: 0;
    object-position: right;
    opacity: 1;
}

main div.image.right img {
    object-position: left;
    right: 0px;
    opacity: 1;
}

main>div:last-of-type {
    margin-bottom: 200px;
}

code {
    display: none;
}

.form {
    background-color:  var(--text-color);
    color: var(--background-highlight-color);
    padding: 30px;
}

.form button {
    margin-top: 20px;
}

#cart {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100vw;
    background-color: var(--text-color);
    color: var(--background-highlight-color);
    box-sizing: border-box;    
    text-align: center;
    transition: all 0.5s ease-in;
    z-index: 2;
    padding: 20px;
}

#cart .warning {
    padding: 20px;
    color: var(--warning-color);
}

#cart.hidden {
    bottom: -60px;
    transition: all 0.5s ease-in;
}

#cart.full {
    height: 100%;
    transition: all 0.5s ease-in;
    overflow-y: scroll;
}

#cart .line {
    display: flex;
    justify-content: space-between;
}

#cart .line {
    padding: 5px 0;
}

#cart .details {
    max-width: 500px;
    margin: auto;
}

#cart .line .desc {
    padding: 0 0px;
    text-align: left;
    flex-grow: 1;
    align-self: center;
}
#cart .line.total .desc {
    text-align: right;
    padding-right: 10px;
}
#cart .line .q {
    flex: 0 0 60px;
    align-self: center;
}

#cart .line .cone {
    width: 40px;
    height: 64px;
    display: flex;
    flex: 1;
    float: left;
}

#cart .line .amount {
    width: 0 0 50px;
    align-self: center;
}

#cart .line .cone div{
    display: flex;
    flex: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#cart .line .q .control {
    display: inline-block;
    background-color: var(--background-highlight-color);
    border-radius: 1em;
    font-size: 1.1em;
    color: var(--text-color);
    box-sizing: border-box;
    height: 1em;
    width: 1em;
    padding-top: -4px;
    line-height: 1em;
    cursor: pointer;
}

#cart .amount {
    text-align: right;
}

#cart .summary button, #cart .thankyou a:any-link, .form button {
    background-color: var(--background-highlight-color);
    color: var(--text-color);
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 20px;
}

#cart .thankyou p {
    padding: 10px;
}

#cart .info button {
    background-color: var(--background-highlight-color);
    color: var(--text-color);
    border-radius: 20px;
    padding: 5px 40px;
    font-size: 25px;
    margin: 30px;
}
#cart>div>div+div {
    margin-top: 40px;
}

#cart .line.mod {
    font-weight: 400;
    margin-top: 0;
}

#cart .info input, .form input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-weight: 700;
    font-family: "Roboto Condensed";
    margin: 5px 0;
    border-radius: 0.5em;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    border: 1px solid var(--background-color);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background-color: var(--background-highlight-color);
}

#cart .info input.valid {
    color: var(--background-highlight-color);
    background-color: var(--text-color);
    border: 2px solid var(--background-highlight-color);
}


#cart .pickup-time {
    margin-top: 4px;
    margin-bottom: 3px;
}

#cart .pickup-time select {
    width: 50%;
    display: inline-block;
}

.hidden {
    display: none;
}

#config {
    z-index: 2;
    position: fixed;
    background-color: var(--background-color);
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s ease-in;
    overflow: scroll;
}

#config img {
    width: 100vw;
    height: 60vw;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

#config button {
    margin-top: 30px;
}


#config.hidden {
    left: -100vw;
    transition: all 0.5s ease-in;
    display: block;
}

#config .close {
    padding: 30px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

#config .wrapper {
    max-width: 400px;
    padding: 20px;
    margin: auto;
}
#config.cone-builder {
    background-color: var(--background-highlight-color);
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
}

#config.cone-builder .wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

#config.cone-builder #cone-builder {
    background-color: var(--background-color);
    flex-grow: 1;
    margin: 20px;
    display: flex;
    flex: 1;
    transition: all 0.5s;
}

#config.cone-builder #cone-builder.flyout {
    transform: translateY(100%) translateX(100%) scale(0.2);
    opacity: 0.7;
}


#config.cone-builder #cone-builder div {
    display: flex;
    flex: 1;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#config.cone-builder .cb-buttons {
    display: flex;
    background-color: var(--text-color);
    color: var(--background-highlight-color);
    height: 80px;
    align-items: stretch;
    cursor: pointer;
    padding-bottom: 20px;

}

#config.cone-builder .cb-buttons>div {
    flex-grow: 1;
    align-self: center;
    user-select: none;
}

#config.cone-builder .cb-controls {
    height: 215px;
    flex-grow: 0;
}

#config.cone-builder .cb-buttons svg.icon, #config svg.icon-close {
    height: 2em;
    width: 2em;
}

#config.cone-builder .cb-selections {
    font-size: 24px;
    height: 115px;
}

#config.cone-builder .cb-selections h4 {
    margin: 10px;
}

#config.cone-builder .cb-selections .cb-selection .cb-options {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: var(--background-color);
    cursor: pointer;
    user-select: none;
    align-items: baseline;
}

#config.cone-builder .cb-selections .cb-selection .cb-options.smooth {
    transition: transform 0.4s ease-out;
}

#config.cone-builder .selected {
    color: var(--text-color);
}

#config.cone-builder .cb-selections .cb-selection.hidden {
    display: none;
}

#config.cone-builder .cb-selections .cb-options>span {
    padding: 5px 15px;
    line-height: 0.7em;
    user-select: none;
}

#config.cone-builder .cb-selections .cb-options span.price {
    font-size: 14px;
    user-select: none;
}
/* class applies to select element itself, not a wrapper element */
select {
	display: block;
	font-size: 16px;
	font-family: "Roboto Condensed";
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 70%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: auto;
	border: 1px solid var(--background-color);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    background-color: var(--background-highlight-color);
    text-align: center;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
		
	*/
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right .7em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
select::-ms-expand {
	display: none;
}
/* Hover style */
select:hover {
	border-color: #888;
}
/* Focus style */
select:focus {
	border-color: var(--background-color);
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: var(--text-color); 
	outline: none;
}

/* Set options to normal weight */
select option {
	font-weight:normal;
}

/* Disabled styles */
select:disabled, select[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

select:disabled:hover, select[aria-disabled=true] {
	border-color: var(--background-highlight-color);
}

#cart .ordering svg {
    width: 100px;
    height: 100px;
}

#signup .ordering svg {
    width: 100px;
    height: 100px;

}

.ordering {
	        animation: rotate-center 1s ease-in-out infinite alternate both;
}

#form-container button {
    border: 0;
    font-weight: 500;
    }

#form-container fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    }

#form-container {
    position: relative;
    width: 335px;
    margin: 20px auto;
    box-sizing: border-box;
    }

#form-container .third {
    float: left;
    width: calc((100% - 32px) / 3);
    padding: 0;
    margin: 0 16px 16px 0;
    }

#form-container .third:last-of-type {
    margin-right: 0;
    }


/* Define how SqPaymentForm iframes should look */
.sq-input {
    height: 56px;
    text-transform: lowercase;
    box-sizing: border-box;
    border: 1px solid var(--background-color);
    background-color: var(--background-highlight-color);
    border-radius: 6px;
    display: inline-block;
    -webkit-transition: border-color .2s ease-in-out;
        -moz-transition: border-color .2s ease-in-out;
        -ms-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
    }

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
    border: 1px solid #4A90E2;
    }

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
    border: 1px solid #E02F2F;
    }

#sq-card-number {
    margin-bottom: 16px;
    }

/* Customize the "Pay with Credit Card" button */
#form-container .button-credit-card {
    width: 100%;
    height: 56px;
    margin-top: 10px;
    margin-left: 0;
    background: var(--background-color);
    border-radius: 6px;
    cursor: pointer;
    display: block;
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    -webkit-transition: background .2s ease-in-out;
        -moz-transition: background .2s ease-in-out;
        -ms-transition: background .2s ease-in-out;
            transition: background .2s ease-in-out;
    }

#form-container .button-credit-card:hover {
        background-color: var(--background-highlight-color);
    }

    #sq-apple-pay {
        width: 100%;
        height: 48px;
        padding: 0;
        margin: 24px 0 16px 0;
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px;
        cursor: pointer;
        display: none;
      }

#alert {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100vw;
    background-color: var(--text-color);
    color: var(--background-highlight-color);
    box-sizing: border-box;    
    text-align: center;
    transition: all 0.5s ease-in;
    z-index: 5;
    padding: 20px;
}

#alert button {
    background-color: var(--background-highlight-color);
    color: var(--text-color);
    padding: 12px;
    padding: 10px 20px;
    margin-left: 0;
}

#alert a:any-link {
    border: 2px var(--background-highlight-color) solid;
    border-radius: 20px; 
    padding: 10px 20px;
}

#alert svg {
    height: 200px;
    width: 200px;
}


@keyframes rotate-center {
    0% {
              transform: rotate(-30deg);
    }
    100% {
              transform: rotate(30deg);
    }
  }

  @keyframes pong {
    0% {
        transform: translate(80%,-30px) rotate(0deg);
        }

    20% {
        transform: translate(-80%,0px) rotate(90deg);
    }

    40% {
        transform: translate(80%,60px) rotate(180deg);
    }

    60% {
        transform: translate(-80%,120px) rotate(235deg);
    }

    80% {
        transform: translate(80%,180px) rotate(290deg);
    }

    100% {
        transform: translate(-80%,120px) rotate(360deg);
    }
  }


@keyframes zoomfade {
    from {
      opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    5% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    9% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    17% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    25% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
    
  


@media only screen and (min-width: 600px) {

    #config img {
        max-height: 180px;
    }
}


